
@{
    ViewData["Title"] = "Assets";
    Layout = "~/Views/DLayout/DLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Assets</h6>
        </div>
        <br />
        <div class="col-6">
            <button type="button" class="btn btn-success" id="ModalCreate" data-toggle="modal" data-target="#CreateModal">
                Create New Asset
            </button>
        </div>
        <!-- Button trigger modal -->

        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle mb-0 bg-white" id="AssetsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th>Name of Asset</th>
                            <th class="text-center">Asset</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Modal Create -->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalLabel">Create New Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="BodyModal">
                <form method="post">
                    <input type="number" class="form-control" name="IdAssets" id="InputIdAsset" hidden>
                    <div class="form-group">
                        <label for="InputAssetName">Name of Asset</label>
                        <input type="text" class="form-control" name="AssetName" id="InputAssetName" pattern="[a-zA-Z]+" minlength="1">
                    </div>
                    <div class="form-group">
                        <label for="InputStock">Stock</label>
                        <input type="number" class="form-control" name="Stock" id="InputStock" minlength="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="buttonSubmit" onclick="Create()">Create</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/AssetsScript.js"></script>
}