
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/DLayout/DLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <br />
        <!-- Button trigger modal -->

        <div class="card-body">
            <h1>Hello @ViewBag.name</h1>
        </div>
    </div>

</div>
<!-- /.container-fluid -->