@{
    ViewData["Title"] = "RequestAssets";
    Layout = "~/Views/DLayout/DLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Form of Request Asset</h6>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="number" class="form-control" name="IdBorrowAssets" id="InputIdBorrowAsset" hidden>
                <div class="form-group" hidden>
                    <label for="InputEmployee">Employee</label>
                    <input type="number" class="form-control" name="nik" id="InputEmployee" value="@ViewBag.NIK">
                    @*<select class="form-control" id="InputEmployee" name="employee">
                    <option value="@ViewBag.NIK" selected>@ViewBag.Name</option>
                    </select>*@
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputAsset">Asset</label>
                        <select class="form-control" id="InputAsset" name="asset">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="InputQuantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="InputQuantity" placeholder="Input Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputReason">Reason</label>
                    <textarea class="form-control" name="reason" id="InputReason"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputBorrowDate">Date of Borrow Asset</label>
                        <input type="date" class="form-control" name="BorrowDate" id="InputBorrowDate">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="InputReturnDate">Date of Return Asset</label>
                        <input type="date" class="form-control" name="ReturnDate" id="InputReturnDate">
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success" id="buttonSubmit" onclick="Create()">Create</button>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/RequestAssetsScript.js"></script>
}