
@{
    ViewData["Title"] = "RequestAssetsManagerAsset";
    Layout = "~/Views/DLayout/DLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Borrow Assets</h6>
        </div>
        <br />
        <div class="col-6 ml-2">
            <button type="button" class="btn btn-success" id="ModalCreate" data-toggle="modal" data-target="#CreateModal">
                Create New Borrow Asset
            </button>
        </div>
        <!-- Button trigger modal -->

        <div class="card-body">

            <ul id="myTab" class="nav nav-tabs nav-fill mb-3" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#tab-1" data-target=".etab-p1, .etabi-img1" data-toggle="tab">Pending</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-2" data-target=".etab-p2, .etabi-img2" data-toggle="tab">Accepted</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-3" data-target=".etab-p3, .etabi-img3" data-toggle="tab">Rejected</a></li>
            </ul>
            <br />
            <div class="tab-content">
                <div class="tab-pane fade show active etab-p1 ml-1">
                    @*<div>
                        <button type="button" class="btn btn-success" id="ModalCreate" data-toggle="modal" data-target="#CreateModal">
                            Create New Borrow Asset
                        </button>
                    </div>*@
                    <!-- Button trigger modal -->

                    <br />

                    <div class="table-responsive">
                        <table class="table align-middle mb-0 bg-white" id="RequestAssetsManagerAssetTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th>Employee</th>
                                    <th>Asset</th>
                                    <th>Quantity</th>
                                    <th>Borrow Time</th>
                                    <th>Return Time</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade etab-p2 ml-1">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0 bg-white" id="BorrowAssets2Table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th>Employee</th>
                                    <th>Asset</th>
                                    <th>Quantity</th>
                                    <th>Borrow Date</th>
                                    <th>Return Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade etab-p3 ml-1">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0 bg-white" id="BorrowAssets3Table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th>Employee</th>
                                    <th>Asset</th>
                                    <th>Quantity</th>
                                    <th>Borrow Date</th>
                                    <th>Return Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Modal Create -->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalLabel">Create New Borrow Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="BodyModal">
                <form method="post">
                    <input type="number" class="form-control" name="IdBorrowAssets" id="InputIdBorrowAsset" hidden>
                    <input type="number" class="form-control" name="nik" id="InputEmployee" value="" hidden>
                    <input type="number" class="form-control" name="nikUser" id="InputUser" value="@ViewBag.NIK" hidden>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="InputAsset">Asset</label>
                            <select class="form-control" id="InputAsset" name="asset">
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="InputQuantity">Quantity</label>
                            <input type="number" class="form-control" name="quantity" id="InputQuantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputReason">Reason</label>
                        <textarea class="form-control" name="reason" id="InputReason"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InputStatus">Status</label>
                        <select class="form-control" name="status" id="InputStatus">
                            <option value="" selected disabled>Select The Status</option>
                            <option value="2">Pending</option>
                            <option value="3">Accept</option>
                            <option value="4">Reject</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="InputBorrowDate">Date of Borrow Asset</label>
                            <input type="date" class="form-control" name="BorrowDate" id="InputBorrowDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="InputReturnDate">Date of Return Asset</label>
                            <input type="date" class="form-control" name="ReturnDate" id="InputReturnDate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="buttonSubmit" onclick="Create()">Create</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/RequestAssetsManagerAssetScript.js"></script>
}