@model WebAssets.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/AuthLayout/AuthLayout.cshtml";
}

@*<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @*<div class="col-lg-6 d-none d-lg-block">
            </div>*@
@*<img src="~/img/bg-login-3.jpg" class="col-lg-6 img-fluid d-none d-lg-block" />
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome to AMIS Website</h1>
                            @if (@ViewBag.Message != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @ViewBag.Message
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                        </div>
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NIK" class="control-label"></label>
                                <input asp-for="NIK" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group md-100">
                                <input type="submit" value="Login" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                        <hr />
                        <div class="text-center">
                            <footer class="footer text-muted">
                                <div class="container">
                                    &copy; 2023 - AMIS
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<section class="vh-100" style="background-color: lightgray">
    <div class="container py-10 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="container-fluid col col-md-9">
                <div class="card h-100 w-100" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-lg-4 mt-5 mx-2 align-content-center">
                            <img src="~/img/robot.jpg" alt="login form" class="img-fluid my-5 ml-2" />
                        </div>
                        <div class="d-flex">
                            <div class="card-body p-4 text-black">
                                <form class="ml-3" asp-action="Login">
                                    <div class="d-flex align-items-center pb-1 mr-4 mt-3">
                                        @*<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>*@
                                        <a class="sidebar-brand d-flex ml-5">
                                            <img src="~/img/logoBerca.png" alt="LogoBerca" width="275px" height="100">
                                        </a>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Sign into your account</h5>
                                    @if (@ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            @ViewBag.Message
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>}
                                    <div class="form-outline container-fluid mb-4">
                                        <input asp-for="NIK" type="text" id="form2Example17" class="form-control form-control-lg" placeholder="NIK" required />
                                    </div>

                                    @*<div class="form-outline container-fluid mb-4">
            <input asp-for="Password" type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>*@

                                    <div class="col-12 form-outline container-fluid mb-4">
                                        <div class="input-group mb-3">
                                            @*<div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>*@
                                            <input name="password" type="password" value="" class="input form-control form-control-lg" id="password" placeholder="Password" required="true" aria-label="password" aria-describedby="basic-addon1" />
                                            <div class="input-group-append">
                                                <span class="input-group-text" onclick="password_show_hide();">
                                                    <i class="fas fa-eye" id="show_eye"></i>
                                                    <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid pt-1 mb-2">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Create">Login</button>
                                    </div>
                                    <div class="container-fluid align-items-center">
                                        <a class="reset-link" asp-controller="Auth" asp-action="ResetPassword">
                                            <h6 class="fw-normal text-sm mb-3 pb-3 text-center">Forgot Password ?</h6>
                                        </a>
                                    </div>
                                    @*<a class="small text-muted" href="#!">Forgot password?</a>
           class="mb-5 pb-lg-2" style="color: #393f81;">
          n't have an account? <a href="#!"
          yle="color: #393f81;">Register here</a>
          p>*@
                                    @*<a href="#!" class="small text-muted">Terms of use.</a>
           href="#!" class="small text-muted">Privacy policy</a>*@

                                </form>
                            </div>
                        </div>
                        <div class="container mb-1 align-items-center justify-content-center">
                            <h6 class="fw-normal mb-2 pb-3 text-center" style="letter-spacing: 1px;">
                                &copy; Berca Assets Management 2023
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/LoginScript.js"></script>
}