@model WebAssets.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/AuthLayout/AuthLayout.cshtml";
}
<div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Password Reset</h3>
            </div>
            <div class="card-body">
                @if (@TempData["Message"] != null)
                {
                    <div class="alert alert-@TempData["Status"] alert-dismissible fade show" role="alert">
                        @Html.Raw(@TempData["Message"])
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <form asp-action="ResetPassword" class="form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label asp-for="NIK" for="inputResetPasswordEmail">NIK</label>
                        <input asp-for="NIK" type="text" class="form-control" id="inputResetPassworNIK" required="">
                        <span asp-validation-for="NIK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" for="inputResetPasswordEmail">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="inputResetPasswordEmail" required="">
                        <span asp-validation-for="Email" id="helpResetPasswordEmail" class="form-text small text-muted">
                            Password reset instructions will be sent to this email address.
                        </span>
                    </div>
                    <div class="form-group">
                        <a class="btn-link" asp-controller="Auth" asp-action="Login">
                            <button type="button" class="btn btn-primary btn-lg float-left">
                                Back
                            </button>
                        </a>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Create" id="btnReset" class="btn btn-success btn-lg float-right">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

@*<div>
    <a asp-action="Login">Back to List</a>
</div>*@

